

nav {
    width: 100%;
    background-color: #5ab7d6;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    margin: auto;
   
  }
  
  .links {
    display: flex;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .links a:hover {
    background-color: #546fdc;
  }
  