/* Nav bar styles */

nav {
  width: 100%;
  margin: 0;
  background-color: #eee;
}

nav .links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav .links {
  display: flex;
}

nav .links a {
  display: block;
  text-decoration: none;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}

nav .links a:hover {
  background-color: #0080ff;
  color: #fff;
}

nav .profile {
  position: relative;
  display: flex;
  align-items: center;
}

nav .dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

nav .dropdown p {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

nav .dropdown a {
  text-decoration: none;
  padding: 10px;
  color: #0080ff;
  text-transform: none;
}

nav .dropdown a:hover {
  background-color: #f0f0f0;
}

