#typography {
    color: #2196f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.typography {
    color: #87cefa;
    font-family: cursive;
    font-weight: bold;
    margin-right: 8px;
}

.productAdmin-card .product-title,
.category-card .category-title {
  color: #4f7993;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: 8px;
}

.product-card {
    border-radius: 5px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.category-card {
    border-radius: 5px;
    border: 2px solid #ccc;
    justify-content: space-between;
    margin: 10px;
}

.productAdmin-card {
    border-radius: 5px;
    border: 2px solid #ccc;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-filter {
    padding: 15px;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #f0ffff;
  }

#titles {
    color: #4f7993;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  .box-products {
    padding: 12px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f0ffff;
}

  
    
  body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
  }

